<%- include("../partials/header") %>

<div class="container" style="margin-top: 25px">
    <h1 style="text-align: center">Edit your comment</h1>
    <form action="/index/<%=post._id%>/comment/<%=comment._id%>?_method=PUT" method="POST" style="width: 45%; margin: 20px auto">
      
      <div class="form-group">
        <input type="text" value="<%=comment.text%>" name="comment" class="form-control">
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>


<%- include("../partials/footer") %>